@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  border: 1px solid gray;
  padding: 10px;
  box-shadow: 10px 10px 8px 10px #888;
}

.content-main {
  display: flex;
}

.scores {
  width: 55%;
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  gap: 20px;
}

.scores-refresh {
  display: flex;
  gap: 8%;
}

table {
  width: 50%;
  border: 1px solid gray;
}

.name-scores tr:nth-child(odd) {
  background-color: #e6ebeb;
}

.add-new {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
